# **SpaceX  Falcon 9 first stage Landing Prediction**

# Step 1: Collecting the data

In this capstone, we will predict if the Falcon 9 first stage will land successfully. SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars; other providers cost upward of 165 million dollars each, much of the savings is because SpaceX can reuse the first stage. Therefore if we can determine if the first stage will land, we can determine the cost of a launch. This information can be used if an alternate company wants to bid against SpaceX for a rocket launch. In this lab, we will collect and make sure the data is in the correct format from an API. The following is an example of a successful and launch.

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/lab_v2/images/landing\_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/lab_v2/images/crash.gif)

Most unsuccessful landings are planned. Space X performs a controlled landing in the oceans.

## Objectives

In this lab, we will make a get request to the SpaceX API and do some basic data wrangling and formating.

*   Request to the SpaceX API
*   Clean the requested data

***

## Import Libraries and Define Auxiliary Functions

We will import the following libraries into the lab

In [61]:
# Requests allows us to make HTTP requests which we will use to get data from an API
import requests
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
# NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Datetime is a library that allows us to represent dates
import datetime

# Setting this option will print all collumns of a dataframe
pd.set_option('display.max_columns', None)
# Setting this option will print all of the data in a feature
pd.set_option('display.max_colwidth', None)

Below we will define a series of helper functions that will help us use the API to extract information using identification numbers in the launch data.

From the <code>rocket</code> column we would like to learn the booster name.

In [62]:
# Takes the dataset and uses the rocket column to call the API and append the data to the list
def getBoosterVersion(data):
    for x in data['rocket']:
        response = requests.get("https://api.spacexdata.com/v4/rockets/"+str(x)).json()
        BoosterVersion.append(response['name'])

From the <code>launchpad</code> we would like to know the name of the launch site being used, the logitude, and the latitude.

In [63]:
# Takes the dataset and uses the launchpad column to call the API and append the data to the list
def getLaunchSite(data):
    for x in data['launchpad']:
        response = requests.get("https://api.spacexdata.com/v4/launchpads/"+str(x)).json()
        Longitude.append(response['longitude'])
        Latitude.append(response['latitude'])
        LaunchSite.append(response['name'])

From the <code>payload</code> we would like to learn the mass of the payload and the orbit that it is going to.

In [64]:
# Takes the dataset and uses the payloads column to call the API and append the data to the lists
def getPayloadData(data):
    for load in data['payloads']:
        response = requests.get("https://api.spacexdata.com/v4/payloads/"+load).json()
        PayloadMass.append(response['mass_kg'])
        Orbit.append(response['orbit'])

From <code>cores</code> we would like to learn the outcome of the landing, the type of the landing, number of flights with that core, whether gridfins were used, wheter the core is reused, wheter legs were used, the landing pad used, the block of the core which is a number used to seperate version of cores, the number of times this specific core has been reused, and the serial of the core.

In [65]:
# Takes the dataset and uses the cores column to call the API and append the data to the lists
def getCoreData(data):
    for core in data['cores']:
            if core['core'] != None:
                response = requests.get("https://api.spacexdata.com/v4/cores/"+core['core']).json()
                Block.append(response['block'])
                ReusedCount.append(response['reuse_count'])
                Serial.append(response['serial'])
            else:
                Block.append(None)
                ReusedCount.append(None)
                Serial.append(None)
            Outcome.append(str(core['landing_success'])+' '+str(core['landing_type']))
            Flights.append(core['flight'])
            GridFins.append(core['gridfins'])
            Reused.append(core['reused'])
            Legs.append(core['legs'])
            LandingPad.append(core['landpad'])

Request rocket launch data from SpaceX API with the following URL:

In [66]:
spacex_url="https://api.spacexdata.com/v4/launches/past"

In [67]:
response = requests.get(spacex_url)

Check the content of the response

Here we see the response contains massive information about SpaceX launches. Next, we try to discover some more relevant information for this project.

### 1: Request and parse the SpaceX launch data using the GET request

To make the requested JSON results more consistent, we will use the following static response object for this project:

In [69]:
static_json_url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/API_call_spacex_api.json'

We should see that the request was successfull with the 200 status response code

In [70]:
response.status_code

200

Now we decode the response content as a Json using <code>.json()</code> and turn it into a Pandas dataframe using <code>.json_normalize()</code>

In [71]:
import json
from pandas.io.json import json_normalize
# Use json_normalize meethod to convert the json result into a dataframe
response_json = response.json()
data = json_normalize(response_json)

/var/folders/4h/yn7bsh1n7xj_82l2w5c9xzxh0000gn/T/ipykernel_9638/3955145090.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = json_normalize(response_json)

Using the dataframe <code>data</code> print the first 5 rows

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   static_fire_date_utc       112 non-null    object
 1   static_fire_date_unix      112 non-null    float64
 2   tbd                        132 non-null    bool
 3   net                        132 non-null    bool
 4   window                     112 non-null    float64
 5   rocket                     132 non-null    object
 6   success                    132 non-null    bool
 7   details                    125 non-null    object
 8   ships                      132 non-null    object
 9   capsules                   132 non-null    object
 10  payloads                   132 non-null    object
 11  launchpad                  132 non-null    object
 12  auto_update                132 non-null    bool
 13  launch_library_id          17 non-null     object
 14  failures                   132 non-null    object
 15  crew                       132 non-null    object
 16  flight_number              132 non-null    int64
 17  name                       132 non-null    object
 18  date_utc                   132 non-null    object
 19  date_unix                  132 non-null    int64
 20  date_local                 132 non-null    object
 21  date_precision             132 non-null    object
 22  upcoming                   132 non-null    bool
 23  cores                      132 non-null    object
 24  id                         132 non-null    object
 25  fairings.reused            92 non-null     object
 26  fairings.recovery_attempt  100 non-null    object
 27  fairings.recovered         84 non-null     object
 28  fairings.ships             105 non-null    object
 29  links.patch.small          132 non-null    object
 30  links.patch.large          132 non-null    object
 31  links.reddit.campaign      104 non-null    object
 32  links.reddit.launch        122 non-null    object
 33  links.reddit.media         88 non-null     object
 34  links.reddit.recovery      59 non-null     object
 35  links.flickr.small         132 non-null    object
 36  links.flickr.original      132 non-null    object
 37  links.presskit             91 non-null     object
 38  links.webcast              132 non-null    object
 39  links.youtube_id           132 non-null    object
 40  links.article              123 non-null    object
 41  links.wikipedia            129 non-null    object
 42  fairings                   0 non-null      float64
dtypes: bool(5), float64(3), int64(2), object(33)
memory usage: 40.0+ KB

In [73]:
# Get the head of the dataframe
#data.head()
data['static_fire_date_utc']

0      2006-03-17T00:00:00.000Z
1                          None
2                          None
3      2008-09-20T00:00:00.000Z
4                          None
                 ...
127                        None
128                        None
129    2021-06-03T06:32:00.000Z
130    2021-06-13T19:30:00.000Z
131    2021-06-22T15:24:00.000Z
Name: static_fire_date_utc, Length: 132, dtype: object

Notice that a lot of the data are IDs. For example the rocket column has no information about the rocket just an identification number.

We will now use the API again to get information about the launches using the IDs given for each launch. Specifically we will be using columns <code>rocket</code>, <code>payloads</code>, <code>launchpad</code>, and <code>cores</code>.

In [74]:
# Take a subset of our dataframe keeping only the features we want and the flight number, and date_utc.
data = data[['rocket', 'payloads', 'launchpad', 'cores', 'flight_number', 'date_utc']]

# We will remove rows with multiple cores because those are falcon rockets with 2 extra rocket boosters and rows that have multiple payloads in a single rocket.
data = data[data['cores'].map(len)==1]
data = data[data['payloads'].map(len)==1]

# Since payloads and cores are lists of size 1 we will also extract the single value in the list and replace the feature.
data['cores'] = data['cores'].map(lambda x : x[0])
data['payloads'] = data['payloads'].map(lambda x : x[0])

# We also want to convert the date_utc to a datetime datatype and then extracting the date leaving the time
data['date'] = pd.to_datetime(data['date_utc']).dt.date

# Using the date we will restrict the dates of the launches
data = data[data['date'] <= datetime.date(2020, 11, 13)]

*   From the <code>rocket</code> we would like to learn the booster name

*   From the <code>payload</code> we would like to learn the mass of the payload and the orbit that it is going to

*   From the <code>launchpad</code> we would like to know the name of the launch site being used, the longitude, and the latitude.

*   From <code>cores</code> we would like to learn the outcome of the landing, the type of the landing, number of flights with that core, whether gridfins were used, whether the core is reused, whether legs were used, the landing pad used, the block of the core which is a number used to seperate version of cores, the number of times this specific core has been reused, and the serial of the core.

The data from these requests will be stored in lists and will be used to create a new dataframe.

In [75]:
#Global variables 
BoosterVersion = []
PayloadMass = []
Orbit = []
LaunchSite = []
Outcome = []
Flights = []
GridFins = []
Reused = []
Legs = []
LandingPad = []
Block = []
ReusedCount = []
Serial = []
Longitude = []
Latitude = []

These functions will apply the outputs globally to the above variables.

In [76]:
BoosterVersion

[]

Now, we apply <code> getBoosterVersion</code> function method to get the booster version

In [77]:
# Call getBoosterVersion
getBoosterVersion(data)

the list has now been update

In [78]:
BoosterVersion[0:5]

['Falcon 1', 'Falcon 1', 'Falcon 1', 'Falcon 1', 'Falcon 9']

we can apply the rest of the  functions here:

In [79]:
# Call getLaunchSite
getLaunchSite(data)

In [80]:
# Call getPayloadData
getPayloadData(data)

In [81]:
# Call getCoreData
getCoreData(data)

Finally we construct our dataset using the data we have obtained. We we combine the columns into a dictionary.

In [82]:
launch_dict = {'FlightNumber': list(data['flight_number']),
'Date': list(data['date']),
'BoosterVersion':BoosterVersion,
'PayloadMass':PayloadMass,
'Orbit':Orbit,
'LaunchSite':LaunchSite,
'Outcome':Outcome,
'Flights':Flights,
'GridFins':GridFins,
'Reused':Reused,
'Legs':Legs,
'LandingPad':LandingPad,
'Block':Block,
'ReusedCount':ReusedCount,
'Serial':Serial,
'Longitude': Longitude,
'Latitude': Latitude}

We now create a Pandas data frame from the dictionary launch_dict.

In [83]:
# Create a data from launch_dict
data_all = pd.DataFrame(launch_dict)

The summary of the dataframe:

In [84]:
# Show the head of the dataframe
data_all.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2006-03-24,Falcon 1,20.0,LEO,Kwajalein Atoll,None None,1,False,False,False,None,NaN,0,Merlin1A,167.743129,9.047721
1,2,2007-03-21,Falcon 1,NaN,LEO,Kwajalein Atoll,None None,1,False,False,False,None,NaN,0,Merlin2A,167.743129,9.047721
2,4,2008-09-28,Falcon 1,165.0,LEO,Kwajalein Atoll,None None,1,False,False,False,None,NaN,0,Merlin2C,167.743129,9.047721
3,5,2009-07-13,Falcon 1,200.0,LEO,Kwajalein Atoll,None None,1,False,False,False,None,NaN,0,Merlin3C,167.743129,9.047721
4,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0003,-80.577366,28.561857

### 2: Filter the dataframe to only include `Falcon 9` launches

Finally we will remove the Falcon 1 launches keeping only the Falcon 9 launches. Filter the data dataframe using the <code>BoosterVersion</code> column to only keep the Falcon 9 launches. Save the filtered data to a new dataframe called <code>data_falcon9</code>.

In [85]:
# Hint data['BoosterVersion']!='Falcon 1'
data_falcon9 = data_all[data_all['BoosterVersion'] == 'Falcon 9']

In [89]:
len(data_falcon9)

90

Now that we have removed some values we should reset the FlgihtNumber column

In [56]:
data_falcon9.loc[:,'FlightNumber'] = list(range(1, data_falcon9.shape[0]+1))
len(data_all)

94

## Data Wrangling

We can see below that some of the rows are missing values in our dataset.

In [57]:
data_falcon9.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass        5
Orbit              0
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

Before we can continue we must deal with these missing values. The <code>LandingPad</code> column will retain None values to represent when landing pads were not used.

### 3: Dealing with Missing Values

Calculate below the mean for the <code>PayloadMass</code> using the <code>.mean()</code>. Then use the mean and the <code>.replace()</code> function to replace `np.nan` values in the data with the mean.

In [58]:
# Calculate the mean value of PayloadMass column
#data_falcon9['PayloadMass'].mean()
# Replace the np.nan values with its mean value
data_falcon9['PayloadMass'].fillna(data_falcon9['PayloadMass'].mean(), inplace=True)

The number of missing values of the <code>PayLoadMass</code> are now changed to zero.

Now we should have no missing values in our dataset except for in <code>LandingPad</code>.

We can now export it to a <b>CSV</b> for the next section,but to make the answers consistent, in the next lab we will provide data in a pre-selected date range.

In [ ]:
data_falcon9.to_csv('dataset_part\_1.csv', index=False)

## Acknowledgement: This notebook is based on the template prepared by Joseph Santarcangelo of the IBM Corporation for the Applied Data Analysis Capstone Project.